body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff9ec;
}

code {
  font-family: 'Playfair Display', serif;
}

.categories {
  cursor: pointer;
}

.categories:hover {
  color: navy;
  font-weight: 600;
}

.active {
  border-bottom: .5rem solid navy;
  font-weight: 700;
  margin: 0;
  transition: border-bottom .2s ease;
}

.active:hover {
  font-weight: 800;
}
